<div>
  <h1 class="font-bold text-4xl pb-2">Welcome!</h1>
  <h2 class="font-bold text-3xl">Today's Information</h2>
  <br>
  <div class="flex items-center">
    <%= link_to "Today's Log", today_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
</div>
